.mobile-nav {
    position: fixed;
    inset: 0;
    background-color: #fff;
    color: #fff;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    z-index: 50;
  }
  
  .mobile-nav.left-0 {
    transform: translateX(0);
  }